# 02-4 튜플 자료형

In [6]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

In [16]:
print(t5[2])  # 튜플 내의 () 도 하나의 요소로 취급. 
print(t5[2][1]) # 이렇게 하면 튜플 내의 () 안의 요소를 추출해낼 수 있다.

('ab', 'cd')
cd

In [20]:
t1 = (1, 2, 'a', 'b')
del t1[0]  # 튜플은 튜플내의 요소 수정 및 삭제가 안된다.

TypeError: 'tuple' object doesn't support item deletion

In [28]:
# 인덱싱
print(t5[1])

b

In [34]:
t1 = (1,2, 'a', 'b')
t1[1:] # t1[1] 부터 끝까지 출력

(2, 'a', 'b')

In [44]:
# 튜플 더하기
print(t3)
print(t5)

t6= t3+t5
print(t6)

(1, 2, 3)
('a', 'b', ('ab', 'cd'))
(1, 2, 3, 'a', 'b', ('ab', 'cd'))

In [48]:
# 튜플 곱하기 
print(t3)
print(t3*4)

(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [56]:
print(t6)
print(len(t6))

(1, 2, 3, 'a', 'b', ('ab', 'cd'))
6

# 02-5 딕셔너리 자료형

In [67]:
# 딕셔너리는 단어 그대로 ‘사전’이라는 뜻이다. 
# 즉 "people"이라는 단어에 "사람", "baseball"이라는 단어에 "야구"라는 뜻이 부합되듯이
# 딕셔너리는 Key와 Value를 한 쌍으로 가지는 자료형이다. 
# 예컨대 Key가 "baseball"이라면 Value는 "야구"가 될 것이다.

In [77]:
# 딕셔너리의 기본 형태
a= {'Key1': 'Value1', 'Key2': 'Value2', 'Key3': 'Value3'}

In [85]:
a['Key1']

'Value1'

In [87]:
# 추가로 value 엔 리스트 형태도 들어가지만, key 에는 리스트가 들어가지 않는다.

In [103]:
# 딕셔너리 쌍 추가 
a= {1:'a'}
a[2] = 'b'
print(a)

{1: 'a', 2: 'b'}

In [105]:
#딕셔너리 요소 삭제 
del a[1] 
a  # key = 1 에 해당하는 key 와 value가 삭제된다.

{2: 'b'}

In [124]:
dic = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

pey
010-9999-1234
1118

In [128]:
for k in dic.keys():
     print(k)

name
phone
birth

In [132]:
dic.items() # 쌍으로 묶은 값을 튜플로 리턴

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [154]:
dic.get('name') # key='name'에 해당하는 value 리턴

'pey'

# 02-6 집합 자료형

In [140]:
s1= set([1,2,3])
s1

{1, 2, 3}

In [148]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(s1 & s2)       #교집합
print(s1 | s2)       #합집합
print(s1-s2)         #차집합
print(s1.intersection(s2)) # 교집합
print(s2.union(s1))        # 합집합

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [152]:
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}