사용자에게 이름을 입력받고, "안녕하세요, OOO님!" 형식으로 출력하는 프로그램을 작성하시오.

In [ ]:
a=input()
print("안녕하세요, %s님!" % a)

최광열
안녕하세요, 최광열님!

사용자로부터 3줄의 문장을 입력받아 note.txt에 저장하는 프로그램을 작성하시오.
입력은 input()으로 받고, 입력이 끝나면 "파일 저장 완료!"를 출력하시오.

예시문장:
 ①빅파이 최고!
  ②5월 13일은 정기모임의 날이다.
   ③ 빅파이 부회장 멋있다.

In [ ]:
f=open("note.txt", "w")
a=input()
b=input()
c=input()
f.write(a+ "\n")
f.write(b+ "\n")
f.write(c+ "\n")
f.close()
print("파일 저장 완료!")

빅파이 최고!
5월 13일은 정기모임의 날이다.
빅파이 부회장 멋있다.
파일 저장 완료!

note.txt 파일을 읽고, 각 줄 앞에 줄 번호를 붙여 출력하시오.

In [ ]:
with open("note.txt", "r") as f:
    line_number = 1
    for line in f:
        print(f"{line_number}: {line.strip()}")
        line_number += 1

1: 빅파이 최고!
2: 5월 13일은 정기모임의 날이다.
3: 빅파이 부회장 멋있다.

명령행으로 입력한 인수를 한 줄씩 출력하시오.

인수: 2025, 05, 13

In [ ]:
code = """
import sys

for arg in sys.argv[1:]:
    print(arg)
"""

with open("example.py", "w") as f:
    f.write(code)

!python3 example.py 2025 05 13

2025
05
13

명령행 인수로 전달된 정수들을 더해 합계를 출력하시오

In [ ]:
!python3 doit/example.py 2025 5 13

2043

Student 클래스를 정의하고 이름, 학번을 속성으로 저장하며 show_info() 메서드로 출력하시오. (본인이름 과 학번)

In [ ]:
class Student:
    def __init__(self, name, student_id):
        self.name = name
        self.student_id = student_id

    def show_info(self):
        print(f"이름: {self.name}")
        print(f"학번: {self.student_id}")


student1 = Student("최광열", "202513105")
student1.show_info()

이름: 최광열
학번: 202513105

Student 클래스를 상속하는 StudentScore 클래스를 정의하고, 점수에 따라 학점을 계산하시오. (90점 이상 A, 80 ~ 89점 B, 70 ~ 79점
  C, 그 외 F)

In [9]:
class Student:
    def __init__(self, name, student_id):
        self.name = name
        self.student_id = student_id

    def show_info(self):
        print(f"이름: {self.name}")
        print(f"학번: {self.student_id}")

class StudentScore(Student):
    def __init__(self, name, student_id, score):
        super().__init__(name, student_id)
        self.score = score

    def get_grade(self):
        if self.score >= 90:
            return "A"
        elif self.score >= 80:
            return "B"
        elif self.score >= 70:
            return "C"
        else:
            return "F에요 ㅠㅠ"

    def show_info(self):
        super().show_info()
        print(f"점수: {self.score}")
        print(f"학점: {self.get_grade()}")

a= int(input())
student2 = StudentScore("최광열", "202513105", a)
student2.show_info()

57
이름: 최광열
학번: 202513105
점수: 57
학점: F에요 ㅠㅠ