while문으로 Hello World를 10번 출력하시오.
(조건문에는 숫자형 변수를 포함하시오)

In [3]:
i = 0
while i < 10:
    print("Hello World")
    i += 1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

input()함수로 입력값을 받아 조건이 맞을 시 Hello World를 5번 출력하시오

In [8]:
a = int(input("정수만 입력"))

if a>0:
    c = 0
    while c < 5:
        print("Hello World")
        c +=1

정수만 입력5
Hello World
Hello World
Hello World
Hello World
Hello World

while True:로 시작하는 반복문을 Hello World 출력을 5번 반복 후 루프에서 빠져나가도록 작성하시오.

In [9]:
a = 0

while True:
    print("Hello World")
    a += 1
    if a == 5:
        break;

Hello World
Hello World
Hello World
Hello World
Hello World

while 반복문을 사용하여 1부터 10까지 숫자를 출력할 때 짝수는 출력하지 않고 시작점으로 돌아가도록 작성하시오.

In [11]:
n = 1

while n <= 10:
    if n % 2 == 0:
        n += 1
        continue
    print(n)
    n += 1

1
3
5
7
9

for 문을 이용하여 구구단 2단을 출력하시오

In [23]:
for i in range(0, 20, 2):
    print("2단",i)

2단 0
2단 2
2단 4
2단 6
2단 8
2단 10
2단 12
2단 14
2단 16
2단 18

for 문을 이용하여 ['바나나', '사과', '수박']리스트의 요소를 순서대로 하나씩 출력하시오.

In [24]:
for i in ['바나나', '사과', '수박']:
    print(i)

바나나
사과
수박

for문과 range 함수를 이용하여 -7에서 -3까지 출력하시오(range함수에는 음수가 들어가도록 하시오)

In [25]:
for i in range(-7, -2):
    print(i)

-7
-6
-5
-4
-3

for문과 range만을 이용하여 2부터 10까지 짝수만 출력하시오(반복문 내에서 연산 수행 x)

In [26]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

for문을 이용하여 Hello world 문자열을 한 글자씩 출력하시오

In [27]:
for i in "Hello world":
    print(i)

H
e
l
l
o

w
o
r
l
d

본인의 이름을 입력받아 내 이름은 ㅇㅇㅇ입니다를 반환하는 함수를 만드시오

In [32]:
a= input("이름을 입력하세요")
print("내 이름은" ,a,"입니다")

이름을 입력하세요박우진
내 이름은 박우진 입니다

두 숫자를 입력하면 더하기 빼기 곱하기 나누기를 순서대로 출력하는 함수를 만드시오

In [33]:
a=int(input("첫번째 숫자를 입력하세요"))
b=int(input("두번째 숫자를 입력하세요"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

첫번째 숫자를 입력하세요5
두번째 숫자를 입력하세요6
11
-1
30
0.8333333333333334

입력의 수를 모르는 상태에서 입력을 모두 더하여 반환하는 함수를 만드시오

In [45]:
def sum():
    a = 0
    while True:
        b = int(input("숫자를 입력하세요 (종료하려면 0): "))
        a += b
        if b == 0:
            break;
    return a
sum()

숫자를 입력하세요 (종료하려면 0): 4
숫자를 입력하세요 (종료하려면 0): 9
숫자를 입력하세요 (종료하려면 0): 0

13

2개의 리스트를 입력받을 때 두 리스트의 길이가 같은지 불 자료형으로 반환하시오

In [46]:
def vs(list1, list2):
    return len(list1) == len(list2)

list1 = input("첫 번째 리스트를 입력하세요 (공백으로 구분): ").split()
list2 = input("두 번째 리스트를 입력하세요 (공백으로 구분): ").split()


result = vs(list1, list2)
print(result)

첫 번째 리스트를 입력하세요 (공백으로 구분): 4 5 6
두 번째 리스트를 입력하세요 (공백으로 구분): 7 8 9
True

두개의 리스트를 입력받고 위에서 만든 함수를 이용해 두 리스트의 길이가 같다고 판별되면 두 리스트를 이용하여 딕셔너리를 만들어 반환하는 함수를 만드시오

In [53]:
list3 = input("첫 번째 리스트를 입력하세요 (공백으로 구분): ").split()
list4 = input("두 번째 리스트를 입력하세요 (공백으로 구분): ").split()

if vs(list3, list4):
   new = dict(zip(list3, list4))
   print("생성된 딕셔너리:", new)
else:
     print("두 리스트의 길이가 다릅니다")

첫 번째 리스트를 입력하세요 (공백으로 구분): 4 5 6
두 번째 리스트를 입력하세요 (공백으로 구분): 7 8 9
생성된 딕셔너리: {'4': '7', '5': '8', '6': '9'}

글로벌 변수를 이용하여 plus() 함수가 수행될 때마다 변수에 5가 더해지도록 함수를 정의하시오

In [51]:
five = 0

def plus():
    global five
    five += 5
plus()
print(five)
plus()
five

5

10